.campus-bg {
	background-color: #FFFFFF;
	background-image: url(img/words.png);
    background-repeat: no-repeat;
}

.card {
	display: flex;
	padding: 0.2em;
	align-items: center;
}

.card-bg {
	background-color: #333333;
}

.padded-container {
	padding: 1em;
}

.list-group-item {
	padding: 0.2em;
}

#map-container {
	background-color: '#F9EDCC';
}

#region-card {
	position: fixed;
	top: 0.2%;
	left: 0.2%;
}

p {
	color: white;
}

.card-block{
	padding: 0.2em;
}
.card-text{
	color: white;
}
.card-title{
  margin-bottom: .3rem;
}

.building {
	'stroke-width': '0.7';
	'stroke-opacity': '1';
	'stroke': '#333333';
	'opacity': 0.7;
}

#map {
	height:600px;
  width:100%;
  overflow:scroll;
}
