.panel_heading {
	background-image: none;
	background-color: blue;
	color: white;
}

.btn-primary-green, .btn-primary-green:active, .btn-primary-green:visited {
    background-color: MediumSeaGreen;
    color: White;
}

.btn-primary-green:hover {
	background-color: #308355;
	color:White;
}

.btn-primary-purple, .btn-primary-purple:active, .btn-primary-purple:visited {
    background-color: MediumSlateBlue;
    color: White;
}

.btn-primary-purple:hover {
	background-color: #6047eb;
	color:White;
}
/*.table-curved {
   border-collapse: separate;
   border: solid #000000 1px;
   border-radius: 6px;
   border-left: 0px;
   border-top: 0px;
}
.table-curved > thead:first-child > tr:first-child > th {
    border-bottom: 0px;
    border-top: solid #ddd 1px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
}
.table-curved > :first-child > :first-child > :first-child {
    border-top-left-radius: 6px;
}
.table-curved > :first-child > :first-child > :last-child {
    border-top-right-radius: 6px;
}
.table-curved > :last-child > :last-child > :first-child {
    border-bottom-left-radius: 6px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-bottom-right-radius: 6px;
}*/

/*tr.noBorder td {
  border: 0;
}
tr.noVert td {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right-style: : hidden;
    border-left-style: hidden;
}*/
/*table { border-collapse: collapse; }
tr { border: none; }
td {
  border-top: solid 1px; 
  border-bottom: solid 1px;
}
*/
