.panel_heading {
	background-image: none;
	background-color: blue;
	color: white;
}

.btn-primary-green, .btn-primary-green:active, .btn-primary-green:visited {
    background-color: MediumSeaGreen;
    color: White;
}

.btn-primary-green:hover {
	background-color: #308355;
	color:White;
}

.btn-primary-purple, .btn-primary-purple:active, .btn-primary-purple:visited {
    background-color: MediumSlateBlue;
    color: White;
}

.btn-primary-purple:hover {
	background-color: #6047eb;
	color:White;
}

/*tr.noBorder td {
  border: 0;
}
tr.noVert td {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right-style: : hidden;
    border-left-style: hidden;
}*/
/*table { border-collapse: collapse; }
tr { border: none; }
td {
  border-top: solid 1px; 
  border-bottom: solid 1px;
}
*/
