.flex {
	display: flex;
	padding: 1em;
	align-items: center;
	justify-content: left;
}

html,
body {
  height: 100%;
}

.homepage {
	background-color: #333;
	height: 100%;
}

.cover-container {
  max-width: 70em;
}

h1 {
	color: white;
}
