{% extends "base.html" %}

{% block title %} Stats {% endblock %}
{% block resources %}
<link href="/static/stats/stats.css" rel="stylesheet">
<script type="application/javascript" src="/static/stats/stats.js"></script>
<script type="application/javascript" src="/static/board/board.js"></script>
<script type="application/javascript" src="/static/logical_locs.js"></script>
<script src="/static/board/board.js" is_mod="false" id="mod_lock"></script>
<script src="/static/board/board.js" is_stat="true" id="stat_lock"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
{{ super() }}
<div class="homepage">
    <script src="/static/board/board.js" is_stat="true" is_mod="false" id="script_loader"></script>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <div id="myNav"></div>
        <main role="main" class="inner cover text-center" id="home-cover">
            <h1 class="cover-heading">My Stats</h1>
        </main>
        <div>
            <div class="card-group">
                <div class="card p-3 m-2">
                    <!-- <img class="card-img-top" alt="Card image cap"> -->
                    <div class="card-body">
                        <h5 class="card-title">My Recent Votes</h5>
                        <p class="card-text">Votes go here</p>
                    </div>
                </div>
                <div class="card p-3 m-2">
                    <div class="card-body">
                        <h5 class="card-title">My History</h5>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline-dark active">
                                <input type="radio" name="options"
                                       id="optAllScatter" autocomplete="off" checked>
                                All
                            </label>
                            <label class="btn btn-outline-dark">
                                <input type="radio" name="options"
                                       id="optWeekScatter" autocomplete="off">
                                Past Week
                            </label>
                            <label class="btn btn-outline-dark">
                                <input type="radio" name="options"
                                       id="optDayScatter" autocomplete="off">
                                Past Day
                            </label>
                            <label class="btn btn-outline-dark">
                                <input type="radio" name="options"
                                       id="optHourScatter" autocomplete="off">
                                Past 2 Hours
                            </label>
                        </div>
                        <canvas id="userVotesOverTime" height="200"></canvas>
                        <div id="warningNotEnoughInfo"></div>
                    </div>
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                </div>
            </div>
            <div class="card p-3 m-2" style="overflow-y: auto">
                <div class="card-body">
                    <div>
                        <h5 style="display:inline;" class="card-title">My Recent Posts</h5>
                        <!-- <p class="card-text" id="recentPosts">Posts go here</p> -->
                        <div style="display:inline;float:right;">
                            <form style="display:inline;padding-left:5px;" id="recent" method="post">
                                <button type="button" class="btn btn-success">Recent <i class="fa fa-caret-square-o-down"></i></button>
                            </form>
                            <form style="display:inline;" id="trending" method="post">
                                <button type="button" class="btn btn-success">Trending <i class="fa fa-caret-square-o-down"></i></button>
                            </form>
                        </div>
                    </div>
                    <BR>
                    <div class="d-flex justify-content-between">
                      <table id="tuffy" border='2' class="table table-hover table-border">
                        <!-- <tr>
                          <th scope="col">Happiness Level</th>
                          <th scope="col">Messages</th>
                          <th scope="col">Location</th>
                          <th scope="col">Time Stamp</th>
                          <th scope="col">Reactions</th>
                          {% if is_moderator %}
                            <th scope="col">Remove Post</th>
                          {% endif %}
                        </tr> -->
                      </table>

                    </div>
                </div>
            </div>
            <div class="card p-3 m-2" style="overflow-y: auto">
                <div class="card-body">
                    <h5 class="card-title">My Map</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline-dark active">
                            <input type="radio" name="options" id="optAll" autocomplete="off" checked> All
                        </label>
                        <label class="btn btn-outline-dark">
                            <input type="radio" name="options" id="optWeek" autocomplete="off"> Past Week
                        </label>
                        <label class="btn btn-outline-dark">
                            <input type="radio" name="options" id="optDay" autocomplete="off"> Past Day
                        </label>
                        <label class="btn btn-outline-dark">
                            <input type="radio" name="options" id="optHour" autocomplete="off"> Past 2 Hours
                        </label>
                    </div>
                    <div id="map" class="campus">
                        <!-- Raphaël JS Map Here -->
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="card p-3 m-2">
                    <div class="card-body">
                        <h5 class="card-title">My Votes By Day of Week</h5>
                        <canvas id="userVotesByDayOfWeek" width="200" height="100"></canvas>
                    </div>
                </div>
                <div class="card p-3 m-2">
                    <div class="card-body">
                        <h5 class="card-title">My Votes By Time of Day</h5>
                        <canvas id="userVotesByTimeOfDay" width="200" height="100"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div id="welcome" style="display:none;"></div>
    </div>
    <script src="/static/map/raphael-min.js"></script>
    <script src="/static/map/mapBackground.js"></script>
    <script src="/static/map/mapFunctions.js"></script>
    <script src="/static/map/mapBuildings.js"></script>
    <script src="/static/stats/voteHistoryFunctions.js"></script>
    <script src="/static/stats/stats.js"></script>
</div>
{% endblock %}
