{% extends "base.html" %}

{% block title %} Vote {% endblock %}
{% block resources %}
<link href="/static/vote/vote.css" rel="stylesheet">
<script type="application/javascript" src="/static/logical_locs.js"></script>
<style>
    #campus-map {
        height: 400px;
    }
    html, body {
        height: 400px;
        margin: 0;
        padding: 0;
    }

</style>
<!-- <script type="application/javascript" src="/static/board/board.js"></script> -->

{% endblock %}

{% block body %}
{{ super() }}

<!-- Click functions for buttons of the Vote UI -->
<script>
      // Function that runs when the page is first loaded
  $(document).ready(function(){
    for (let key in log_locs) {
      $("#loc_drop").append('<option value=' + key + '>' + log_locs[key] + '</option>');
    }
    var hidden = 1;
        // Function that runs when the SubmitVote button is clicked
    $("#vote_btn").click(function(){
      var drop_loc = $("#loc_drop option:selected").val();
      if (drop_loc === 'blank')
        drop_loc = null;

      var map_loc;
      var happy;
      var loc;
        //var loc = '';
        // map selection should take priority over dropdown selection
        /* if (typeof map_loc != 'undefined') {
              loc = map_loc;
          }
          else if (typeof map_loc == 'undefined' && typeof drop_loc != 'undefined')
          {
              loc = drop_loc;
          } */
      happy = $("input[name=happiness_level]:checked").val();
      var confirmText = "(" + happy + ")\n";
      var confirmed = true;
      loc = currentMapLoc;
      /* If the user's location was auto-detected, or if their location 
       * is set to null or offcampus, they should be prompted to confirm 
       * this location before submitting a vote (because of auto-detect
       * location and click inaccuracy). */
      if(autoLoc == true) {
         confirmText += "We auto-detected your location is: " + currentMapLoc + ".\nIf this is correct click Okay, otherwise please\nclick Cancel and manually select your\nlocation to submit your vote.";
      } else if(autoLoc == false && currentMapLoc == 'offcampus') {
        confirmText += "You input that you are off campus.\nIf this is correct click Okay, otherwise please\nclick Cancel and manually select your\nlocation to submit your vote.";
      } else if(currentMapLoc == '' || currentMapLoc == ' ' || currentMapLoc == null) {
        confirmText += "Oops! We couldn't get your location.\nPlease select your location manually to\nsubmit your vote.";
      }
      if(loc == 'offcampus' || loc == '' || loc == ' '|| autoLoc == true) {
            // If there is a reason to confirm with the user, confirm.
        confirmed = confirm(confirmText);
      }

          // If the user confirmed their location, send vote
      if (confirmed == true){
        alert("Sending Vote:\nmap: " + currentMapLoc + ", happy: " + happy);
        loc = currentMapLoc;
        happy = $("input[name=happiness_level]:checked").val();
        if (happy >= 1 && happy <= 5 && typeof loc != undefined) {
          $.ajax({
            url: '/request/add_vote',
            type: 'post',
            dataType: 'json',
            data: {'latitude': 10,
                   'longitude': 10,
                   'logical_location': loc,
                   'happiness_level': happy},
            });
          }
              // Redirect user to Board page so they can send a message after voting
              //TODO the page redirects before the vote is able to be sent. This is something we need to fix, to make sure the vote is sent before the redirect. 
          //location.href='/board';
      } else if (typeof drop_loc != undefined) {
        alert("Undefined Happiness level or Locatoin:\ndrop: " + drop_loc + ", happy: " + happy);
        loc = drop_loc;
      }
    });
  });
</script>


<!-- Begin Page Content -->
<div class="homepage">
    <div id="a" class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <div id="myNav"></div>
        <main role="main" class="inner cover text-center" id="home-cover">
            <h1 class="cover-heading">Vote</h1>
        </main>

<!-- Voting UI begins: -->
        <form id="vote" method="post">
            <div id="vote_ui" class="ui">
                <h5> On a scale of 1 (least happy) to 5 (most happy), how happy are you? </h5>
                <div class="radio-label-vertical-wrapper">
                    <label class="radio-label-vertical">
                        <input type="radio" name="happiness_level" value="1">1
                    </label>
                    <label class="radio-label-vertical">
                        <input type="radio" name="happiness_level" value="2">2
                    </label>
                    <label class="radio-label-vertical">
                        <input type="radio" name="happiness_level" value="3">3
                    </label>
                    <label class="radio-label-vertical">
                        <input type="radio" name="happiness_level" value="4">4
                    </label>
                    <label class="radio-label-vertical">
                        <input type="radio" name="happiness_level" value="5">5
                    </label>
                    <br><br>
                    <h5> Where are you?</h5>
                    <h5> Select from the map or dropdown below.</h5>
                    <select id="loc_drop" form="vote" name="location" onchange="onSelectChange()">
                    </select>
                </div>
                <script>
                    /* currentMapLoc is updated every time the location is 
                     * set, whether by auto-detection, map click, or drop-
                     * down. */
                  var currentMapLoc = null;
                  var autoLoc = true;
                      // When the dropdown selection is changed
                  function onSelectChange() {
                    var sel = document.getElementById("loc_drop").value;
                    if(sel != null) {
                      currentMapLoc = sel;
                      autoLoc = false;
                    }
                  }
                </script>
<!-- The selectable Map element -->
                <div id="campus-map" name="loc_map"></div>
                <script type="text/javascript" src="/static/vote/voteMapScript.js"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsbxNy5GODdnbs1MuazTLziaCXJnN9dCM&callback=initMap">
                </script>
                <div>
                    <button type="button" id="vote_btn"> Submit Vote</button>
                </div>
            </div>
        </form>
    </div>


    <!-- End of content, begin more Scripts -->

    <div>
        <script type="application/javascript">
            // Only once the whole page has loaded does the map try to find location
          snapToCurrentLoc(navigator, map, marker, geocoder);
        </script>
    </div>
</div>
{% endblock %}
