{% extends "base.html" %}

{% block title %} Vote {% endblock %}
{% block resources %}
<link href="/static/vote/vote.css" rel="stylesheet">
<script type="application/javascript" src="/static/logical_locs.js"></script>
<style>
    #campus-map {
        height: 400px;
    }
    html, body {
        height: 400px;
        margin: 0;
        padding: 0;
    }

</style>

<script type="application/javascript" src="/static/logical_locs.js"></script>
<script type="text/javascript" src="/static/vote/voteMapScript.js"></script>


{% endblock %}

{% block body %}
{{ super() }}
<script>
      $(document).ready(function(){
        for (let key in log_locs) {
          $("#loc_drop").append('<option value=' + key + '>' + log_locs[key] + '</option>');
        }

        var hidden = 1;

        $("#vote_btn").click(function(){
          /*
          var drop_loc = $("#loc_drop option:selected").val();
          if (drop_loc === 'blank')
            drop_loc = null;
          */
          var map_loc;
          var happy;
          var loc;
          happy = $("input[name=happiness_level]:checked").val();
          var confirmText = "(" + happy + ")\n";
          var confirmed = true;
          loc = currentMapLoc;

          if(autoLoc == true) {
             confirmText += "We auto-detected your location is: " + currentMapLoc + ".\nIf this is correct click Okay, otherwise please\nclick Cancel and manually select your\nlocation to submit your vote.";
            //confirmed = confirm(confirmText);

          } else if(autoLoc == false && currentMapLoc == 'offcampus') {
            confirmText += "You input that you are off campus.\nIf this is correct click Okay, otherwise please\nclick Cancel and manually select your\nlocation to submit your vote.";
            //confirmed = confirm(confirmText);

          } else if(currentMapLoc == '' || currentMapLoc == ' ' || currentMapLoc == null) {
            confirmText += "Oops! We couldn't get your location.\nPlease select your location manually to\nsubmit your vote.";
           // confirmed = confirm(confirmText);
          } else {
            confirmText += "We auto-detected that your location is: " + currentMapLoc;
          }

          if(loc == 'offcampus' || loc == '' || loc == ' '|| autoLoc == true) {
            confirmed = confirm(confirmText);
          }
          
          //confirmed = confirm(confirmText);
          if (confirmed == true){
            loc = currentMapLoc;
            happy = $("input[name=happiness_level]:checked").val();
            //alert("map: " + currentMapLoc + ", happy: " + happy);
            if (happy >= 1 && happy <= 5 && loc != null) {
              $.ajax({
                url: '/request/add_vote',
                type: 'post',
                dataType: 'json',
                data: {'latitude': lat_coord,
                       'longitude': long_coord,
                       'logical_location': loc,
                       'happiness_level': happy},
                success: function(){
                  location.href = "board";
                }
              });
            }
          }
        });
      });
</script>


<!-- Begin Page Content -->
<div class="homepage">
    <div id="a" class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <div id="myNav"></div>
        <main role="main" class="inner cover text-center" id="home-cover">
            <h1 class="cover-heading">Vote</h1>
        </main>
<!-- Voting UI begins: -->
        <form id="vote" method="post">
            <div id="vote_ui" class="ui">
                <h5> On a scale of 1 (least happy) to 5 (most happy), how happy are you? </h5>
                <div class="radio-label-vertical-wrapper">
                    <label class="radio-label-vertical">
                        <input type="radio" name="happiness_level" value="1">1
                    </label>
                    <label class="radio-label-vertical">
                        <input type="radio" name="happiness_level" value="2">2
                    </label>
                    <label class="radio-label-vertical">
                        <input type="radio" name="happiness_level" value="3">3
                    </label>
                    <label class="radio-label-vertical">
                        <input type="radio" name="happiness_level" value="4">4
                    </label>
                    <label class="radio-label-vertical">
                        <input type="radio" name="happiness_level" value="5">5
                    </label>
                    <br><br>
                    <h5> Where are you?</h5>
                    <h5> Select from the map or dropdown below.</h5>
                    <select id="loc_drop" form="vote" name="location" onchange="onSelectChange()">
                    </select>
                </div>
                <script>
                    /* currentMapLoc is updated every time the location is 
                     * set, whether by auto-detection, map click, or drop-
                     * down. */
                  var currentMapLoc = null;
                  var autoLoc = true;

                      // When the dropdown selection is changed
                  function onSelectChange() {
                    var sel = document.getElementById("loc_drop").value;
                    if(sel != null) {
                      currentMapLoc = sel;
                      autoLoc = false;
                    }
                  }
                </script>
<!-- The selectable Map element -->
                <div id="campus-map" name="loc_map"></div>
                <script type="text/javascript" src="/static/vote/voteMapScript.js"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsbxNy5GODdnbs1MuazTLziaCXJnN9dCM&callback=initMap">
                </script>
                <div>
                    <button type="button" id="vote_btn"> Submit Vote</button>
                </div>
            </div>
        </form>
    </div>


    <!-- End of content, begin more Scripts -->

    <div>
        <script type="application/javascript">
        snapToCurrentLoc(navigator, map, marker, geocoder);
        </script>
    </div>
</div>
{% endblock %}
