{% extends "base.html" %}

{% block title %} Vote {% endblock %}
{% block resources %}
<link href="/static/vote/vote.css" rel="stylesheet">
<style>
    #campus-map {
        height: 400px;
    }
    html, body {
        height: 400px;
        margin: 0;
        padding: 0;
    }

</style>
<script type="application/javascript" src="/static/board/board.js"></script>

{% endblock %}

{% block body %}
{{ super() }}
<script>
      $(document).ready(function(){
        for (let key in log_locs) {
          $("#loc_drop").append('<option value=' + key + '>' + log_locs[key] + '</option>');
        }

        var hidden = 1;
        $("#vote_btn").click(function(){
          var drop_loc = $("#loc_drop option:selected").val();
          if (drop_loc === 'blank')
            drop_loc = null;

          var map_loc;
          var happy;
          var loc;
            //var loc = '';
            // map selection should take priority over dropdown selection
            /* if (typeof map_loc != 'undefined') {
                  loc = map_loc;
              }
              else if (typeof map_loc == 'undefined' && typeof drop_loc != 'undefined')
              {
                  loc = drop_loc;
              } */
          happy = $("input[name=happiness_level]:checked").val();
          var confirmText = "(" + happy + ")\n";
          var confirmed = true;
          loc = currentMapLoc;
          if(autoLoc == true) {
             confirmText += "We auto-detected your location is: " + currentMapLoc + ".\nIf this is correct click Okay, otherwise please\nclick Cancel and manually select your\nlocation to submit your vote.";
          } else if(autoLoc == false && currentMapLoc == 'offcampus') {
            confirmText += "You input that you are off campus.\nIf this is correct click Okay, otherwise please\nclick Cancel and manually select your\nlocation to submit your vote.";
          } else if(currentMapLoc == '' || currentMapLoc == ' ' || currentMapLoc == null) {
            confirmText += "Oops! We couldn't get your location.\nPlease select your location manually to\nsubmit your vote.";
          }
          if(loc == 'offcampus' || loc == '' || loc == ' '|| autoLoc == true) {
            confirmed = confirm(confirmText);
          }
          //confirmed = confirm(confirmText);

          if (confirmed == true){
            alert("map: " + currentMapLoc + ", happy: " + happy);
            loc = currentMapLoc;
            happy = $("input[name=happiness_level]:checked").val();
            if (happy >= 1 && happy <= 5 && typeof loc != undefined) {
              $.ajax({
                url: '/request/add_vote',
                type: 'post',
                dataType: 'json',
                data: {'latitude': 10,
                       'longitude': 10,
                       'logical_location': loc,
                       'happiness_level': happy},
                });
              }
              //alert("A");
              location.href='/board';
            /*if(hidden == 0) {
              $('#post_after_vote').hide();
              $('#vote_ui').show();
              $('#campus-map').show();
              hidden = 1;
            } else {
              $('#post_after_vote').show();
              $('#vote_ui').hide();
              $('#campus-map').hide();
              hidden = 0;
            }*/
            //submitVote(currentMaploc, happy);
          }
           else if (typeof drop_loc != undefined) {
            alert("drop: " + drop_loc + ", happy: " + happy);

            loc = drop_loc;
            //submitVote(drop_loc, happy);
          }
        });
      });




</script>


<!-- Begin Actual Content -->
<div class="homepage">
    <div id="a" class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <div id="myNav"></div>
        <main role="main" class="inner cover text-center" id="home-cover">
            <h1 class="cover-heading">Vote</h1>
        </main>


        <!-- Initially hidden elements, unhiden after voting -->
        <div id="post_after_vote" class="form-group" style="float:left;">
            <main role="main" class="inner cover text-center" id="home-cover">
                <h4 class="cover-heading" style="color:white;">Your vote has been submitted!</h4>
                <div style="text-align: center;">
                    <form style="display:inline;padding-left:0px;width:200px" id="recent" method="post">
                        <button id="change_vote" type="button" class="btn btn-danger">Change vote</button>
                    </form>
                    <form style="display:inline;padding-left:100px;width:1000px" id="recent" method="post">
                        <button id="view_map" type="button" onClick="location.href='/map'" class="btn btn-danger">View
                            Map
                        </button>
                    </form>
                    <form style="display:inline;padding-left:100px;width:200px" id="recent" method="post">
                        <button id="view_board" type="button" onClick="location.href='/board'" class="btn btn-danger">
                            View Messages
                        </button>
                    </form>
                    <BR>
                    <BR>
                    <BR>
                    <h3 class="cover-heading" style="color:white;">What's On Your Mind?</h3>
                    <!-- welcome text only refreshes on page reload
                         should refresh after submitting a vote -->
                    <!-- <div class="ui" id="welcome" hidden></div> -->
                </div>
            </main>
            <div>
                <form style="display:inline;" id="myform" method="post">
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Let the world know!"
                           name="message">
                    <BR>
                    <button type="submit" style="display:block;" onclick="window.location.reload()"
                            class="btn btn-primary">Submit
                    </button>
                </form>
            </div>
        </div>


        <!-- Voting UI begins here: -->
        <form id="vote" method="post">
            <div id="vote_ui" class="ui">
                <h5> On a scale of 1 (least happy) to 5 (most happy), how happy are you? </h5>
                <div class="radio-label-vertical-wrapper">
                    <label class="radio-label-vertical">
                        <input type="radio" name="happiness_level" value="1">1
                    </label>
                    <label class="radio-label-vertical">
                        <input type="radio" name="happiness_level" value="2">2
                    </label>
                    <label class="radio-label-vertical">
                        <input type="radio" name="happiness_level" value="3">3
                    </label>
                    <label class="radio-label-vertical">
                        <input type="radio" name="happiness_level" value="4">4
                    </label>
                    <label class="radio-label-vertical">
                        <input type="radio" name="happiness_level" value="5">5
                    </label>
                    <br><br>
                    <h5> Where are you?</h5>
                    <h5> Select from the map or dropdown below.</h5>
                    <select id="loc_drop" form="vote" name="location" onchange="onSelectChange()">
                    </select>
                </div>
                <script>
                      var currentMapLoc = null;
                      var autoLoc = true;
                      function onSelectChange() {
                        var sel = document.getElementById("loc_drop").value;
                        //alert(sel);
                        if(sel != null) {
                          currentMapLoc = sel;
                          autoLoc = false;
                        }
                      }




                </script>
                <div id="campus-map" name="loc_map"></div>
                <script type="text/javascript" src="/static/vote/voteMapScript.js"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsbxNy5GODdnbs1MuazTLziaCXJnN9dCM&callback=initMap">
                </script>
                <div>
                    <button type="button" id="vote_btn"> Submit Vote</button>
                </div>
            </div>
        </form>
    </div>


    <!-- End of content, begin Scripts -->

    <div>
        <script type="application/javascript">
        
        //var hidden = 1;        
        /*
        $( "#vote_btn" ).click(function() {
          if(hidden == 0) {
            $('#post_after_vote').hide();
            $('#vote_ui').show();
            $('#campus-map').show();
            hidden = 1;
          } else {
            $('#post_after_vote').show();
            $('#vote_ui').hide();
            $('#campus-map').hide();
            hidden = 0;
          }        
        });
        */
        $( "#change_vote" ).click(function() {
          //if(hidden == 0) {
            $('#post_after_vote').hide();
            $('#vote_ui').show();
            $('#campus-map').show();
            hidden = 1;
          //} 
        });
        $('#post_after_vote').hide();
        snapToCurrentLoc(navigator, map, marker, geocoder);





        </script>
    </div>
</div>
{% endblock %}
